/* @import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');


h1 {
    font-family: 'Heebo', sans-serif;
    font-style: Bold;
    font-size: 4.5vw;
    text-align: center;
}

h2 {
    font-family: 'Heebo', sans-serif;
    text-align: center;
    font-size: 2vw;
    font-weight: 200;    
} */