@import "../variables";
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

@font-face {
    font-family: "Gellato Rush";
    src: url("../../../../Gellato\ Rush.otf") format("otf"),
        url("../../../../Gellato\ Rush.otf") format("opentype")
}

.aboutMe {
    
    

    #BG {

        width: 100%;
        background-image: url('../../../../images/home/code2.jpg');
        background-size: cover;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 100px;

    }

    #BG2 {

        width: 100%;
        background-image: url('../../../../images/home/homepage.png');
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
        

    }

    #IMAGE {
        height: 100vh;

    }

    .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: $dark;
      }
      
      .container:hover .overlay {
        opacity: 1;
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }






    .btn {
        background-color: $primary;
        color: $secondary;
    }

    h1 {
        font-size: 6vw;
        font-family: 'Heebo', sans-serif;
        font-style: Bold;
    }

    .titleText {
        font-size: 1.5vw;
        padding-top: 6px;
        color: $secondary;

        font-family: 'Heebo', sans-serif;
        font-weight: 300; 
    }

    .p {
       font-size: 1.2vw; 
    }

    h3 {
        font-size: 8vw;
    }

    h6 {
        font-size: 2vw;
        padding-top: 6px;

        font-family: 'Heebo', sans-serif;
        font-weight: 300;
    }

    i {
        padding-right: 20px;
        padding-bottom: 20px;

        background: -webkit-linear-gradient(#108dc7, #FC5C7D);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     

        
    }

    hr {
        width: 40%;
    }













}