@import "../variables";
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:100&display=swap');





.checkoutForm {

    #StripeElement {
        background: lightgray;
        color: white;
        padding: 5px;
        border-radius: 20px;
        border:2px solid #1976D2;
    
    }

    h2 {
        font-family: 'Heebo', sans-serif;
        font-weight: 100 ;
        font-size: 4vw;
    }

    .input-group {
        border: 0;
        border-bottom: 2px solid #1976D2;
        width: 100%;
        font-size: 3vw;
        line-height: 35px;
        height: 50px;
        text-align: center;
        padding: 10px;
        background: transparent;
        color: #BBDEFB;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
        
    }

    .btn {
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #FormBg {
        border: 1;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        
        
        
    }

    @media only screen and (max-width : 768px) {
        
        #FormBg {
            border: 1;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 20px;
            width: 75%;
            display: block;
            
            
        }

        }





}
