@import "../variables"; 
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:100&display=swap');


.contactScreen {
    
    height: auto;
    width: 100%;
    margin-top: 100px;
     
    
    h1{
        font-family: 'Heebo', sans-serif;
        font-weight: 100 ;
        font-size: 6vw;
    }

    h2 {
        font-family: 'Heebo', sans-serif;
        font-weight: 100 ;
        font-size: 3vw;
        color: $secondary;
    }

    i {
        background: -webkit-linear-gradient(#108dc7, #FC5C7D);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
      }

    

    .form-group {
        color: $dark;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        
    }

    .btn {
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
};