@import "../variables";

@font-face {
    font-family: "Gellato Rush";
    src: url("../../../../Gellato\ Rush.otf") format("otf"),
        url("../../../../Gellato\ Rush.otf") format("opentype")
}

.Footer {

    background-color: $dark;
    
    #blogLinks {
        color: $secondary
    }





}