@import "../variables";
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');



.Footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $dark;
    


    i {
        padding: 20px
    }

    i:hover {
        transform: scale(1.5);
        color: $primary;
    }
    

    p {
        font-size: 10px;
        font-family: 'Heebo', sans-serif;
        color: $secondary
    }





}