@import "../variables";
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:100&display=swap');


.header {
    box-sizing: border-box;
    height: 100px;
    body {

        height: 100%;
        width: 100%;
        margin: 0;
        background-color: $dark;
        background-position: 50% 10%;
        background-size: cover;
        font-family: 'Heebo', sans-serif;
    }

    .navbar {
        height: 90px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
      }

      i {
        background: -webkit-linear-gradient(#108dc7, #FC5C7D);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
       
      .navbar-buttons {
        position: relative;
        width: 155px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
       
      /* Sing In Button */
      .button {
        background-color: rgba(44, 45, 47, 0.749);
        width: 97px;
        height: 30px;
        font-size: 12px;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
      }

      .overlay {
        position: fixed;
        background: rgba(51, 55, 69, 0.80);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
      }
       
      .overlay.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
      }

      
       
      .overlay nav {
        position: relative;
        height: 100%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 3vw;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 40px;
      }
      .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%;
      }
      .overlay ul li {
        display: block;
        position: relative;
        opacity: 0;
        margin-bottom: 20px;
      }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden;
      }

      .overlay ul li a:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 43.5%;
        width: 0%;
        transform: translateX(-50%);
        height: 3px;
        background: #FFF;
        transition: .35s;
      }
       
      .overlay ul li a:hover,
      .overlay ul li a:focus,
      .overlay ul li a:active {
        color: #ea2e49;
      }
      .overlay ul li a:hover:after,
      .overlay ul li a:focus:after,
      .overlay ul li a:active:after {
        width: 100%;
        background: #ea2e49;
      }

      .overlay.open li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s;
      }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s;
      }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s;
      }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s;
      }
       
      @keyframes fadeInRight {
        0% {
          opacity: 0;
          left: 20%;
        }
        100% {
          opacity: 1;
          left: 0;
        }
      }

      button:focus {
        outline:0;
      }
       
      .open-menu,
      .close-menu,
      .button {
        cursor: pointer;
        transition: transform 0.30s;
      }
      .open-menu:hover,
      .close-menu:hover,
      .button:hover {
        transform: scale(1.1);
      }

      @media (max-width: 790px) {
        .overlay nav {
            letter-spacing: 30px;
        }
      }

      @media (max-width: 670px) {
        .overlay nav {
            letter-spacing: 20px;
        }
      }
      @media (max-width: 550px) {
        .overlay nav {
            letter-spacing: 10px;
            font-size: 4vw;
        }
      }








}