@import "../variables";
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Nanum+Gothic&display=swap');
@font-face {
    font-family: "Gellato Rush";
    src: url("../../../../Gellato\ Rush.otf") format("otf"),
        url("../../../../Gellato\ Rush.otf") format("opentype")
}

.home {


html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

/* Welcome Screen */
#LoginBG {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../../images/home/image2.jpeg");
    background-size: cover;
}

#homeImage {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    
}


#CenterPositioning {
    position: absolute;
    left: 0%;
    top: 33%;
    width: 100%;
    text-align: center;
    font-size: 100px;
}

#CenterPositioningSubtitle {
    position: absolute;
    left: 0;
    top: 55%;
    width: 100%;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    
}

#mouseScroll {
    position: absolute;
    left: 47%;
    top: 83%;
}

@media (max-width: 640px){

    #LoginBG {
        height: 100vh;
        width: 100vw;
        background-image: url("../../../../images/home/image1.jpeg");
        background-size: cover;
    }
 
    #CenterPositioning {
        position: absolute;
        left: 0;
        top: 40%;
        width: 100%;
        text-align: center;
        font-size: 50px;
    }
    
    #CenterPositioningSubtitle {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-size: 15px;
    }

    #mouseScroll {
        position: absolute;
        left: 40%;
        top: 83%;
    }
     
    }
}