@import "../variables";
.singleBlog {

    .hero {
        background: $secondary;
    }

    #BG {
        background-color: $primary;
        height: 100vh;
        width: 100vw;
    }
    
    .card {
        
        width: 500px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .hello {
        background: $primary;
    }
    
    #inputComment {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-sizing: border-box;
        border-radius: 80px;
    }
    
    #avatar {
        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    }