@import "../variables";
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo:100&display=swap');





.createTicket{

    height: 100vh;
    width: 100%;
    margin-top: 60px;

    


    .input-group {
        border: 0;
        border-bottom: 2px solid #1976D2;
        width: 100%;
        font-size: 3vw;
        line-height: 35px;
        height: 10vh;
        text-align: center;
        padding: 50px;
        background: transparent;
        color: $dark;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
    }

    .input-group2 {
        border: 0;
        border-bottom: 2px solid #1976D2;
        width: 100%;
        font-size: 3vw;
        line-height: 35px;
        height: 35vh;
        text-align: center;
        padding: 50px;
        background: transparent;
        color: $dark;
        font-family: 'Heebo', sans-serif;
        font-weight: 100;
        display: block;
        overflow: hidden;
        resize: vertical;
        
    }

    

    h2 {
        font-family: 'Heebo', sans-serif;
        color: $dark;
        font-weight: 100 ;
        font-size: 4vw;
    }

    .btn {
        width: 75%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    



}
